<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Liste des agents</span>
          </h6>
        </li>
        <li class="nav-item" *ngFor="let agent of agents">
          <a class="nav-link" [ngClass]="{'active':isAgentDisplay(agent)}" href="javascript:void(0)" (click)="filterOn(agent)">{{ agent.hostname }} <span *ngIf="agent.enable"><i class="fa fa-check-circle"></i></span><span *ngIf="!agent.enable"><i class="fa fa-hourglass"></i></span></a>
        </li>
       </ul>
    </div>
  </nav>

  <main role="main" class="col-md-12 ml-sm-auto col-lg-10 pt-3 px-4">
		  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Liste des fichiers de traces</h1>
          </div>
		  <!-- Affichage des fichiers logs -->
		  <table class="table">
			  <thead>
				<tr>
				  <th scope="col">hôte</th>
				  <th scope="col">Fichier</th>
				  <th scope="col">Action</th>
				</tr>
			  </thead>
			  <tbody>
				<tr *ngFor="let file of files|logFileFilter:searchText; let i = index">
				  <td>{{ file.getHostname() }}</td>
				  <td>{{ file.filename }}</td>
				  <td>
            <button type="button" class="btn btn-success" [routerLink]="['/tail', file.agent.url, file.filename, file.agent.key]" routerLinkActive="active"><i class="fa fa-play"></i> Live</button>
            <button type="button" class="btn btn-info" (click)="download(file.agent.host, file.filename, file.agent.key)"><i class="fa fa-download"></i>  T&eacute;l&eacute;charger</button>
          </td>
				</tr>
			  </tbody>
			</table>
		</main>
